html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, main {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.app {
  flex: 1;
  max-width: 70rem;
  margin: 2rem auto 0 auto;
  text-align: center;
}

